@import url(http://fonts.googleapis.com/css?family=PT+Mono|Open+Sans:400italic,400,600);

/* Here is what we are pulling in with the above */

/*
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptmono/v1/jmle3kzCPnW8O7_gZGRDlQ.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
*/

.RoleCreateBugPara a{
display:inline-block;
/* padding:.333em 1em; */
/* This change makes the Edit button shorter */
padding: padding: 0em 0.8em 0.2em;
background-color:white;
margin:0em .5em;
/*border-radius*/
-webkit-border-radius:1.5em;
   -moz-border-radius:1.5em;
        border-radius:1.5em;
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
   -moz-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
        box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
}

.RoleCreateBugPara a {border: 1px dotted red;}
.RoleCreateBugPara a:visited {color: red;}
.RoleCreateBugPara { float:right; text-align:right; position: absolute; top:0px; right: 0px;}
.RoleCreateBugPara a:hover {border: 1px dotted white;}
.RoleCreateBugPara a:link {color: red;}

.RoleCreateBugPara a:focus,
.RoleCreateBugPara a:hover{
background-color: red;
color: white;
}

.sectionTopic
{
  position: relative;
}

/* This is the part that makes the sections light up when you hover over them */
.sectionTopic:hover
{
    background:#f6f6f6;
    box-shadow: 0 0 0 10px #f6f6f6, 0 0 0 11px #ddd, 0 0 10px 11px #ccc;
    -moz-box-shadow: 0 0 0 10px #f6f6f6, 0 0 0 11px #ddd, 0 0 10px 11px #ccc;
    -webkit-box-shadow: 0 0 0 10px #f6f6f6, 0 0 0 11px #ddd, 0 0 10px 11px #ccc;
}

a .note {border: 2px dotted gray;}
a .note:hover {border: 2px dotted red;}
a .warning {border: 2px dotted gray;}
a .warning:hover {border: 2px dotted red;}

.clickable {margin-bottom: 18px; margin-top: 6px; color: white;}
.clickable.note {background-color: #8E9F00;}
.clickable.warning {background-color: red;}

.dh-span-menu {position: fixed; width: 100% ; border: 0px; color: #BED6F8; max-width: 1139px; margin-left: 0em; margin-right: 0; float: left; padding-left: 0;}
.dh-span-menu tbody tr td  {border-left-width:0px; border-top-width:0px; border-bottom-width:0px; border-right-width:0px;}
.dh-span-menu tbody tr td a {border-bottom: none;}

.docsHackContainer {max-width:110em; z-index:4; position: relative;}
.docsHackDocContainer {
  margin:0 auto;
	max-width:55em;
  z-index: -1;
  position: relative;
}

/* Aesthetic changes */

pre {
	font-family: "PT Mono", "liberation mono", "bitstream vera mono", "dejavu mono", monospace;
	display:block;
	background-color:#eeeeee;
	margin-bottom: 0.3em;
	padding:.5em 1em;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
/*	font-size: 0.9em; */
}

.command, .filename, .keycap, .classname, .literal {
	font-family:"PT Mono", "liberation mono", "bitstream vera mono", "dejavu mono", monospace;
  font-weight: normal;
	/* font-weight:bold; */
}

code {
	font-family: "PT Mono", "liberation mono", "bitstream vera mono", "dejavu mono", monospace;
	white-space: nowrap;
  font-weight:normal;
	/* font-weight:bold; */
}

body { 
font-family: "Open Sans", "liberation sans", sans-serif;
font-size: 14px;
font-weight: normal;
font-variant: normal;
}

.guilabel, .guibutton {
  font-family: "PT Mono", "liberation mono", "bitstream vera mono", "dejavu mono", monospace;
  font-weight: bold;
}



a:link {
	color:#0066cc;
}

a:hover, a:active {
	color:#003366;
}

a:visited {
	color:#6699cc;
}


h1 {
	color:#3c6eb4
}

/*.producttitle {
	background: #3c6eb4 url(../images/h1-bg.png) top left repeat;
}*/

.section h1.title {
	color:#3c6eb4;
}


h2,h3,h4,h5,h6 {
	color:#3c6eb4;
}


table {
	border:1px solid #3c6eb4;
}

table th {
	background-color:#3c6eb4;
}


table tr.even td {
	background-color:#f5f5f5;
}

.revhistory table th {
	color:#3c6eb4;
}

.titlepage .edition {
	color: #3c6eb4;
}

/* css for the code switcher */
.code-div pre{
  border-top-right-radius: 0px;
}

.code-select-li{
  float:left;
  list-style-type: none;
  list-style-image: none;
  margin-right: 0.4em;
  background-color: whiteSmoke;
  padding-bottom: 4px;
}

.code-div ul{
  padding-left: 2.6em;
  padding-bottom: 8px;
}

.code-select-li a{
  color: #AAA;
  border-bottom: none;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-weight: bold;
}

.code-select-li a:hover{
  border-bottom: 2px solid;
}

.code-select-li .active{
  color: white;
  background-color: #AAA;
}

.code-select-li .active a:hover{
  border-bottom: 2px solid white;
}

.code-div ul li{

}

